// kintamieji
$section-light: #f8f9fa;
$text-color: #212529;
$footer-dark: #343a40;
$orange-color: #f5ba4b;
* {
  margin: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}
.bars {
  display: none;
}
nav {
  display: flex;
  align-items: center; //cenruoja visus konteinerius
  flex-wrap: wrap;
  height: 4rem;
  margin: auto;
  width: 70%;
  @media only screen and (max-width: 700px) {
    flex-direction: row;
    justify-content: space-between;
    height: 4rem;
    .nav-icons,
    .nav-list {
      display: none;
    }
    .logo {
      align-self: center;
    }
    .bars {
      font-size: 30px;
      align-self: center;
      display: block;
      &:hover {
        color: lighten($text-color, 50%);
      }
    }
  }
  @media only screen and (max-width: 600px) {
    // flex-wrap: nowrap;
    width: 90%;
    height: 4rem;
    .logo {
      align-self: center;
    }
  }
}
// NAV ikonų dydis ir spalva
.nav-icons a {
  color: $text-color;

  margin-left: 1.5em;
  font-size: 10px;
}
.nav-icons {
  flex-shrink: 0; //neleidžia sukristi viena po kita
  padding-left: 2rem;
  font-size: 10px;
}
.nav-list {
  flex-shrink: 0; //neleidžia sukristi viena po kita
  margin-left: auto;
}
ul {
  padding: 0;
}
li {
  display: inline-block;
  padding: 0 0.5rem; //tarpas tarp listo pavadinimų
}
li a i {
  padding-left: 5px;
}
a {
  color: $text-color;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 10px;
  &:hover {
    color: lighten($text-color, 50%);
  }
}
// Sekcija su nuotrauka ir kortelė joje
.section-image {
  background-image: url("./bg.jpg");
  height: 900px;
  background-size: cover;
  @media only screen and (max-width: 600px) {
    height: 700px;
    background-size: cover;
    // kortelės pozicija
    .image-text {
      width: 90%;
      margin-left: 5%;
      padding-top: 20%;
    }
    .image-text p {
      color: white;
      font-weight: bolder;
      font-size: 16px;
      line-height: 2;
      letter-spacing: 1px;
    }
    .image-text h1 {
      color: white;
      margin: 2rem 0;
      font-weight: bold;
      font-size: 48px;
    }
  }
}
// kortelės pozicija
.image-text {
  width: 20rem;
  margin-left: 15%;
  padding-top: 20%;
}
.image-text h1 {
  color: white;
  margin: 2rem 0;
  font-weight: bold;
}
.image-text p {
  color: white;
  font-weight: bolder;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 1px;
}
button {
  border: $orange-color solid 2px;
  opacity: 1;
  padding: 10px 15px;
  margin-top: 3rem;
  background-color: transparent;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  word-spacing: 3px;
}
button:hover {
  opacity: 0.7;
}
// info sekcijos formavimas
.container-info {
  padding-top: 1em;
  padding-bottom: 3em;
  width: 72%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 10px;
  justify-items: center;
  text-align: center;
  color: $text-color;
  @media only screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  //   align-items: center;
}
.info-one {
  grid-area: 1 / 2 / 2 /3;
}
.info-two {
  grid-area: 2 / 1 / 3 / 2;
}
.info-three {
  grid-area: 2 / 2 / 3 / 3;
}
.info-four {
  grid-area: 2 / 3 / 3 / 4;
}
.section-info div i {
  color: $orange-color;
  padding-top: 0.5em;
  font-size: 30px;
}
.section-info div i:hover {
  color: rgb(161, 109, 12);
  padding-top: 0.5em;
  font-size: 30px;
}
.section-info div h2,
h3 {
  padding: 1.5em 0;
}
@media only screen and (max-width: 600px) {
  .section-info h2 {
    font-weight: bold;
    font-size: 35px;
  }
}
// *********** Reference sekcija
.section-ref {
  background-color: $section-light;
  color: $text-color;
  width: 100%;
  margin: auto;
  padding: 5em 0;
}
.section-ref h3 {
  padding-left: 15%;
  @media only screen and (max-width: 600px) {
    display: inline-block;
    padding-left: 5%;
    font-weight: bold;
    font-size: 3em;
    width: 90%;
  }
}
.section-ref h3 span {
  color: $orange-color;
}
.container-ref {
  display: flex;
  line-height: 2;
  width: 70%;
  margin: auto;
  @media only screen and (max-width: 600px) {
    flex-direction: column;
    width: 90%;
  }
}
.section-ref button {
  color: $text-color;
  font-weight: bold;
  font-size: 10px;
  @media only screen and (max-width: 600px) {
    font-size: 12px;
    margin-bottom: 3em;
  }
}
.ref-one {
  flex-shrink: 1;
  width: 70%;
  font-size: 12px;
  font-weight: bolder;
  padding-right: 2em;
  @media only screen and (max-width: 600px) {
    width: 100%;
    font-size: 16px;
    font-weight: bolder;
  }
}
.ref-two {
  width: 30%;
  flex-shrink: 1;
  border-left: $orange-color solid 1px;
  padding-left: 1em;
  font-size: 13px;
  font-weight: bolder;
  @media only screen and (max-width: 600px) {
    width: 90%;
    font-size: 16px;
    font-weight: bolder;
  }
}
// nuotrauką ir teksta vertikaliai centruoja su flex
.align-img-text {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.face {
  width: 30px;
  border-radius: 50%;
}
.face-text {
  font-size: 11px;
  font-weight: bold;
  margin-left: 10px;
}
// ******** Section inside formavimas
.section-inside {
  width: 70%;
  margin: auto;
  margin-top: 3rem;
  text-align: center;
  @media only screen and (max-width: 600px) {
    width: 90%;
  }
}
.section-map p,
.section-inside p {
  width: 40%;
  margin: 1rem auto;
  font-size: 12px;
  font-weight: bolder;
  @media only screen and (max-width: 600px) {
    font-size: 18px;
    width: 100%;
    margin: 3rem 0;
  }
}
.section-inside img {
  width: 100%;
}
.container-inside {
  display: flex;
  justify-content: space-between;
  gap: 1px;
  flex-wrap: wrap;
}
.container-inside img {
  max-width: 24%;
  height: auto;
}

.arrows {
  position: absolute;
  right: 15%;
  background-color: white;
  align-self: end;

  &:hover {
    color: darken(rgb(230, 230, 230), 30%);
  }
}
@media only screen and (max-width: 600px) {
  .container-inside img:nth-child(1n + 3) {
    display: none;
  }
  .container-inside img {
    max-width: 49%;
    height: auto;
  }
  .arrows {
    right: 5%;
  }
}
// Žemėlapio sekcija
.section-map {
  width: 70%;
  margin: auto;
  margin-top: 12rem;
  text-align: center;
  @media only screen and (max-width: 600px) {
    width: 90%;
  }
}
iframe {
  margin: 3rem 0;
  width: 100%;
  height: 400px;
}
footer {
  background-color: $footer-dark;
  color: white; //laikinai pasidarau
  height: 200px;
}
.footer-grid {
  width: 70%;
  padding-top: 6rem;
  margin: auto;
  display: grid;
  grid-template-columns: (auto, auto);
  grid-template-rows: (auto, auto);
  //   align-content: center;
  gap: 4px 0;
}
.footer-one {
  grid-area: 1/1/2/2;
  // align-self: center;
}
.footer-two,
.footer-two a {
  grid-area: 1/2/2/3;
  align-self: center; // centruoja horizontaliai
  justify-self: end; // stumia į galą
  color: rgb(230, 230, 230);
  text-decoration: none;
  font-weight: bold;
  text-transform: none;
  font-size: 11px;
  letter-spacing: 1px;
  &:hover {
    color: darken(rgb(230, 230, 230), 30%);
  }
}
.footer-two ul li:last-child {
  padding-right: 0;
}
.footer-three {
  grid-area: 2/1/3/2;
  font-size: 11px;
  align-self: center;
}
.footer-four,
.footer-four i {
  grid-area: 2/2/2/3;
  align-self: center; // centruoja horizontaliai
  justify-self: end; // stumia į galą
  color: $orange-color;
  font-size: 16px;
  &:hover {
    color: darken($orange-color, 30%);
  }
}
.footer-four a:nth-child(2) {
  margin: 0 1em;
}
// mobile
@media only screen and (max-width: 600px) {
  .footer-grid {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    width: 90%;
    justify-content: flex-start;
  }
  .footer-grid > div {
    align-self: flex-start;
  }
  .footer-two ul li:first-child {
    padding-left: 0;
  }
}
